.stateDrawerUSState {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-bottom: 3em;
}

.stateDrawerUSState p {
  margin: 0;
}

.stateDrawerUSState > h3 {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stateDrawerList {
  overflow-y: auto;
}

.stateDrawerClose {
  align-self: flex-end;
  position: sticky;
  top: 0;
}

.stateDrawerRelevantEvent {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.stateDrawerRelevantEventContext {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.stateDrawerRelevantEventContext p {
  margin: 0;
}

.stateDrawerAuthorRow {
  display: flex;
  flex-direction: row;
  font-size: 0.8em;
  gap: 1em;
  position: relative;
}

.stateDrawerAuthorRow:not(:last-of-type) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-bottom: 1em;
}

.stateDrawerAuthorRow:not(:last-of-type):not(:first-of-type) {
  padding: 1em 0;
}

.stateDrawerAuthorRow > img {
  aspect-ratio: 1 / 1;
  flex: none;
  height: 100px;
  object-fit: cover;
  width: 100px;
}

.stateDrawerAuthorDetails {
  display: flex;
  flex: 3;
  flex-direction: column;
  gap: 1em;
}

.stateDrawerEdit {
  left: 0;
  position: absolute;
  top: 0;
  transition: 0.3s opacity;
}

.stateDrawerAuthorRow .stateDrawerEdit {
  opacity: 0;
}

.stateDrawerAuthorRow:hover .stateDrawerEdit {
  opacity: 1;
}

.stateDrawerAdd {
  align-items: center;
  border-radius: 50%;
  bottom: 1em;
  box-sizing: border-box;
  display: flex;
  font-size: 1rem;
  height: 24px;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  position: absolute;
  right: 1em;
  width: 24px;
}
