.stateDrawerUSState {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1em;
  left: 1em;
  padding-bottom: 3em;
}

.stateDrawerUSState p {
  margin: 0;
}

.stateDrawerUSState > h3 {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stateDrawerList {
  overflow-y: auto;
}

.stateDrawerEdit {
  left: 0;
}

.stateDrawerView {
  right: 0;
}

.stateDrawerEdit,
.stateDrawerView {
  background-color: var(--floating-element-color);
  position: absolute;
  top: 1em;
  transition: 0.3s opacity;

  .stateDrawerAuthorRow & {
    opacity: 0;
  }

  .stateDrawerAuthorRow:hover & {
    opacity: 1;
  }
}

.stateDrawerAdd {
  bottom: 1em;
  margin-left: auto;
  position: absolute;
  right: 1em;
  width: 24px;
}
