.timelineEvent {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.timelineEvent > h4 {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hint {
  font-size: 0.5em;
  margin: 0;
}

.timelineEventAchievement {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 0.8em;
  gap: 1em;
}
