.datePicker {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.datePickerColumn {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.5em;
}

.datePickerColumn label,
.datePickerDateKnown label {
  font-size: 0.8em;
}

.datePickerColumn input {
  width: 100%;
}

.datePickerDateKnown {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.datePickerHint {
  font-size: 0.5em;
}
