.authorMapComponentContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  --floating-element-color: white;
}

.authorMapComponentContainer h3,
.authorMapComponentContainer h4 {
  margin: 0;
}

.authorMapContainer {
  box-sizing: border-box;
  flex: 1;
  min-height: 0;
  width: 100%;
}

.authorMapContainer > svg {
  height: 100%;
  width: 100%;
}

.authorMapMagnificationSlider {
  bottom: 2em;
  right: 1em;
}

.authorMapViewSwitch {
  flex-direction: row;
}

.authorMapAddButtons {
  bottom: 1em;
  display: flex;
  flex-direction: column;
  right: 1em;
}

.authorMapAddButtons > button {
  border: none;
  border-radius: 0;
  justify-content: flex-start;
  padding: 1em;
}

.authorMapActions {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex: none;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
  padding: 1em;
}

dialog {
  transition:
    transform 0.3s ease-out,
    opacity 0.3s ease-out,
    display 0.3s ease-out allow-discrete,
    overlay 0.3s ease-out allow-discrete;

  opacity: 0;
}

/* 2. The Open State */
dialog[open] {
  opacity: 1;
}

/* 3. The Before-Open State (The Entry Animation Trigger) */
@starting-style {
  dialog[open] {
    opacity: 0;
  }
}

details {
  & > * {
    max-width: 100%;
  }

  & summary {
    margin-bottom: .5em;
  }
}