.componentContainer {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.componentContainer h3,
.componentContainer h4 {
  margin: 0;
}

.mapContainer {
  height: 100%;
}

.mapContainer > svg {
  height: 100%;
}

.magnificationSlider {
  bottom: 2em;
  right: 1em;
}

.filterPane {
  right: 1em;
  top: 1em;
}

.filterPane button {
  font-size: 1em;
}

.highlightedFilter {
  filter: brightness(85%);
}

.tabs {
  display: flex;
  flex-direction: column;
}
