.authorMapComponentContainer {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;

  --floating-element-color: white;
}

.authorMapComponentContainer h3,
.authorMapComponentContainer h4 {
  margin: 0;
}

.authorMapContainer {
  box-sizing: border-box;
  height: 100%;
  padding-top: 2.5em;
  width: 100%;
}

.authorMapContainer > svg {
  height: 100%;
  width: 100%;
}

.authorMapMagnificationSlider {
  bottom: 2em;
  right: 1em;
}

.authorMapViewSwitch {
  flex-direction: row;
  left: 50%;
  top: 1em;
  transform: translateX(-50%);
}

.authorMapAddButtons {
  bottom: 1em;
  display: flex;
  flex-direction: column;
  right: 1em;
}

.authorMapAddButtons > button {
  border: none;
  border-radius: 0;
  justify-content: flex-start;
  padding: 1em;
}
