.dynamicList {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.dynamicListItems {
  height: 100%;
  overflow-y: auto;
}

.dynamicListButton {
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  margin-left: auto;
  transition: 0.3s box-shadow;
}

.dynamicListButton:hover {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.dynamicListAddButton {
  font-size: 1em;
  height: 2em;
}

.dynamicListRemoveButton {
  border-radius: 50%;
  font-size: 1em;
  height: 1.5em;
  width: 1.5em;
}
