.authorMapFilterSideDrawer {
  background-color: var(--floating-element-color);
  display: flex;
  flex-direction: column;
  gap: 1em;
  right: 1em;
  width: 200px;
}

.authorFilterDrawerEventType {
  flex-direction: column;
}
