.authorMapFilterSideDrawer {
  width: 200px;

  & > *:not(dialog) {
    margin-bottom: 1em;
  }

  summary {
    align-items: center;
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  summary::-webkit-details-marker {
    display: none;
  }

  summary::after {
    content: '➕';
    font-size: 0.5em;
    margin-left: auto;
  }

  details[open] summary::after {
    content: '➖';
  }

  .authorFilterDrawerEventType {
    flex-direction: column;
  }

  .eventsHelp {
    margin-bottom: 0.5em;
    margin-left: auto;
  }

  .eventsHelpModal {
    box-sizing: border-box;
    height: min(90%, 400px);
    line-height: 1.5;
    overflow-y: auto;
    padding: 1em;
    width: min(90%, 600px);

    p {
      text-indent: 1em;
    }

    h4 {
      margin: 1em 0;
    }
  }

  .minimumResidence,
  .timeUntilImmigration {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1em;

    input {
      width: 3em;
    }
  }
}
