.authorMapFilterSideDrawer {
  background-color: var(--floating-element-color);
  width: 200px;

  & > *:not(dialog) {
    margin-bottom: 1em;
  }
}

.authorFilterDrawerEventType {
  flex-direction: column;
}

.eventsHelp {
  margin-bottom: 0.5em;
  margin-left: auto;
}

.eventsHelpModal {
  box-sizing: border-box;
  height: min(90%, 400px);
  line-height: 1.5;
  overflow-y: auto;
  padding: 1em;
  text-indent: 1.5em;
  width: min(90%, 600px);
}
